<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @studio.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @studio.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @studio.location %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @studio.owner %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
